#footer {
	margin-top:5px;
	border-top-width:10px;
	border-top-style: solid;
	border-top-color: navy;
	font-family: "Candara", sans-serif;
	font-size: 14px;
	text-align: center;
}


td.tipo { 
	width: 20px;
	text-align: center;
}

td.tipo1 { 
	width: 30px;
	text-align: center;
}

td.tipo.iconeOK{
		font-size: 14px;
		text-align: center;
		color: green;
}

td.tipo .iconeFalse{
		font-size: 14px;
		text-align: center;
		color: red;
}

.grid {
	border: 1px solid #666666;
	border-spacing: 0;
	border-collapse: collapse;
}

.grid td, .grid th {
	padding: 3px;
}

.grid .cabecalho {
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #666666;
}

.grid .cor-sim {
	background-color: #dbdbdb;
}

.grid .cor-nao {
	background-color: #e6e6e6;
}


ul.form-messages {
	padding-left: 20px;
}

.form-messages .error {
	color: #e81f1f;
}

.form-messages .info {
	color: #156b2a;
}

#header {
	height: 43px;
	background-color: #e2e2e2;
	box-shadow: 0px 2px 2px #ccc;
}

#header h1 {
	padding: 0px;
	margin: 0px;
}
