*,
body,
main,
form {
    font-size: 14px !important;
}

body {
    height: 100vh;
}

.header-nav-bg {
    background-color: #e2e2e2;
}

svg {
    width: 20px;
    height: 20px;
}

.sem_estilo_ul {
    list-style-type: none;
}

.form-acao {
    width: 12% !important;
}

@media (min-width: 992px) {
    .custom-container {
        max-width: 800px !important;
    }

    .custom-container-cadastra-teste {
        max-width: 400px !important;
    }

    .custom-container-dvr {
        max-width: 600px !important;
    }
}